@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
}

p {
    font-size: 20px;
}

.main-div {
    background-color: #ffefef;
    max-width: 1200px;
    margin: auto;
}

.header {
    margin: auto;
    width: auto;
}

.logo-text {
    text-align: center;
    padding: 30px 20px;
    margin: 0 auto;
}

.logo-img {
    display: block;
    margin: auto;
    padding: 50px auto 50px auto;
    padding-top: 50px;
}

.main-block {
    margin: 0 130px;
    background-color: #ffffff;
    padding: 0 80px;
}

.main-part {
    padding: 0;
    margin: auto;
}

.main-headline {
    padding: 50px 0 10px;
    text-align: center;
    font-size: 38px;
}

.main-subheadline {
    text-align: center;
    font-size: 16px;
}

.img-container {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}

.text-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0 60px;
}

.text-par {
    font-size: 14px;
}

.par1 {
    padding-right: 15px;
    width: 100%;
}

.par2 {
    padding-left: 15px;
    width: 100%;
}

.item-container {
    align-items: center;
    display: flex;
    column-gap: 80px;
    padding: 0 0 20px;
}

div.item-container-right {
    justify-content: right;
}

.img-dish-1 {
    
}

.item-text {
    width: 45%;
}

div.item-text-right {
    text-align: right;
}

.headline-style {
    font-size: 28px;
    padding-bottom: 5px;
    margin: 0;
}

.text-style {
    font-size: 14px;
    padding-bottom: 15px;
}

.btn {
    background-color: #ffefef;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.outro {
    margin: 0 auto;
    padding: 50px 20px;
    font-size: 14px;
    text-align: center;
}
